/* responsive width using properties calc(); */

.icon-wrapper {
    text-align: center;
}

.icon-wrapper__image img {
    border: 1px solid rgb(255, 219, 171);
    border-radius: 5px;
    width: 50px;
    padding: 5px;
    margin-right: calc((100% - 255px) / 4);
}

.icon-wrapper__image img:first-child,
.icon-wrapper__image img:last-child {
    margin-right: 0;
    margin-left: 0;
}

.icon-wrapper__image a {
    text-decoration: none;
}

.icon-wrapper__image img:hover {
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 5px;
}

